// Colors
// ----------------------------

$c-red-cherry: #c1252e;

$c-gray: #828890;
$c-gray-light: #b0b2b3;

$c-black: #000;
$c-white: #fff;


// Font
// -----------------------------
$font-color: $c-black;
$font-size: 1.4rem;
$line-hight: 1.4;
$f-simsun: 'SimSun';
$f-simhei: 'SimHei';
$f-yahei: 'Microsoft YaHei';
$f-hiragino: 'hiragino sans gb';

// Frames
// -----------------------------
$h-header: 59px;
$w-sidebar: 203px;
$h-footer: 48px;